<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022129927824-cp55foftgfb523p62a64ruei7stb1i1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022129927824-cp55foftgfb523p62a64ruei7stb1i1m</string>
	<key>API_KEY</key>
	<string>AIzaSyBlEPW4Pnsz_8VCJ-lVbQZFRH7moQlHri8</string>
	<key>GCM_SENDER_ID</key>
	<string>1022129927824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.EMICalculator</string>
	<key>PROJECT_ID</key>
	<string>emi-calculator-d033b</string>
	<key>STORAGE_BUCKET</key>
	<string>emi-calculator-d033b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022129927824:ios:00de607da2fdb1d4654a15</string>
</dict>
</plist>